$icon-width: 90px;

.offer-container {
  display: flex;
  flex-direction: column;
}
.offer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5% 5% 0% 5%;
  border-radius: 10px;
  background-color: #ffffff;
  cursor: pointer;
  transition: box-shadow 0.7s;
  &:hover {
    box-shadow: 3px 3px #cccccc;
    // background-color: #e6e6e6;
  }
}

.strip-icon {
  display: flex;
  flex-direction: row;
  width: $icon-width;
}

.strip {
  width: 10px;
  background-color: royalblue;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.company-icon {
  height: 80%;
  width: 80%;
  margin-left: 5px;
  margin-right: 10px;
}

.desc-company {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 55%;
  @media only screen and (max-width: 1024px) {
    width: auto;
  }
}

.desc {
  font-size: 1.2rem;
  color: rgb(55, 71, 79);
}

.company {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 0.95rem;
  color: rgb(153, 161, 171);
  > span {
    margin-left: 2%;
    margin-right: 5%;
  }
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.salary-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  text-align: right;
  @media only screen and (max-width: 1024px) {
    text-align: left;
    width: auto;
  }
}

.salary {
  font-size: 1.2rem;
  margin-right: 5px;
  color: rgb(30, 198, 108);
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: right;
  &-item {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 0.8rem;
    border: 1px solid rgb(224, 224, 224);
    width: 50px;
    padding: 3px;
    margin: 3px;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
  }
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.mobile-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 2;
  width: calc(100% - #{$icon-width});
  @media only screen and (max-width: 1024px) {
    flex-direction: column;
  }
}
