.item-container {
  display: flex;
  flex-direction: row;
  align-items: baseline; }

.nav-items {
  display: flex;
  flex-direction: row; }
  .nav-items-item {
    display: flex;
    justify-content: space-between;
    padding: 0 15px; }

.myButton {
  background-color: #ff4081 !important;
  color: white !important;
  text-transform: none !important;
  border-radius: 20px !important; }

.header-sign {
  font-size: 1.5rem;
  margin: 0px 10px 10px 25px;
  padding-top: 15px; }

hr {
  color: #e5eaf3;
  padding: 0 !important; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: #37474f; }

svg {
  width: 3rem;
  height: 1.3rem; }
