.dropdown-btn {
  border-radius: 50px !important;
  margin-left: 20px;
  width: 200px;
}
.page-container {
  height: 100%;
}

.topbar {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 800px;
  @media only screen and (max-width: 1024px) {
    width: 230px;
  }
}

.content-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  margin-top: 40px;
  background-color: #f3f6f8;
}

.offers {
  width: 50%;
  height: 100%;
  overflow: auto;
  @media only screen and (max-width: 1024px) {
    width: 100%;
  }
}

.map {
  width: 50%;
  height: 100%;
  background-color: lightgreen;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}
