.dropdown-btn {
  border-radius: 50px !important;
  margin-left: 20px;
  width: 200px; }

.page-container {
  height: 100%; }

.topbar {
  display: flex;
  flex-direction: row;
  width: 800px; }

.content-container {
  display: flex;
  flex-direction: row;
  height: 90%; }

.offers {
  width: 50%;
  height: 100%;
  overflow: auto;
  background-color: red; }

.map {
  width: 50%;
  height: 100%;
  background-color: lightgreen; }
