.container {
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.round {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(108, 117, 125);
  margin: 0px 20px;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  &-active {
    @extend .round;
    background-color: rgb(49, 223, 33);
    color: black;
  }
}
.round:hover {
  height: 50px;
  width: 50px;
}

.round:focus {
  background-color: red;
}
