.container {
  display: flex;
  flex-direction: row; }

.round, .round-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #6c757d;
  margin: 0px 20px;
  color: white;
  cursor: pointer;
  transition: 0.5s ease-in-out; }
  .round-active {
    background-color: #31df21;
    color: black; }

.round:hover, .round-active:hover {
  height: 50px;
  width: 50px; }

.round:focus, .round-active:focus {
  background-color: red; }
