.header-sign {
  margin: 0px 10px 10px 25px;
  padding-top: 15px;
}

hr {
  color: #e5eaf3;
  padding: 0 !important;
  /* border: 0;
  height: 5px; */
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(55, 71, 79);
}

svg {
  width: 3rem;
  height: 1.3rem;
}

/* #menu-item {
  width: 80%;
  padding: 10px 15px;
} */
