.header-sign {
  margin: 0px 10px 10px 25px;
  padding-top: 15px;
}

hr {
  width: 100%;
  border: 0.5px solid #e5eaf3;
}
hr.bm-item {
  width: 100%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(55, 71, 79);
}

svg {
  width: 3rem;
  height: 1.3rem;
}

/* #menu-item {
  width: 80%;
  padding: 10px 15px;
} */
