@import "../../styles/variables.scss";

.header-wrapper {
  height: $header-height;
}

.item-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.items-wrapper {
  @extend .item-container;
  justify-content: space-between;
  width: 100%;
  margin-right: 69px;
}
.nav-items {
  display: flex;
  flex-direction: row;
  &-item {
    padding: 0 12px;
  }
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.btn-items {
  position: absolute;
  right: 70px;
  top: 7px;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.myButton {
  background-color: rgb(255, 64, 129) !important;
  color: white !important;
  text-transform: none !important;
  border-radius: 20px !important;
  margin: 7px !important;
  &-second {
    @extend .myButton;
    background-color: rgb(119, 49, 131) !important;
  }
}

.header-sign {
  font-size: 1.5rem;
  margin: 0px 10px 10px 25px;
  padding-top: 15px;
}

hr {
  color: #e5eaf3;
  padding: 0 !important;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: rgb(55, 71, 79);
}

svg {
  width: 3rem;
  height: 1.3rem;
}

.click-link {
  cursor: pointer;
  color: grey;
  padding-left: 2px;
  &:hover {
    text-decoration: underline;
  }
}
